<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application

        android:name=".MiApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PinchaApp">
        <activity
            android:name=".ExportarPDF"
            android:exported="false" />
        <activity
            android:name=".ProximasDosisActivity"
            android:exported="false" />
        <activity
            android:name=".Campanias"
            android:exported="false" />
        <activity
            android:name=".CentrosDeVacunacion"
            android:exported="false" />
        <activity
            android:name=".CarnetEscaneados"
            android:exported="false" />
        <activity
            android:name=".EscanearCarnet"
            android:exported="false" />
        <activity
            android:name=".RegistroImc"
            android:exported="false" />
        <activity
            android:name=".AgendarVacuna"
            android:exported="false" />
        <activity
            android:name=".AlergiasMiembro"
            android:exported="false" />
        <activity
            android:name=".CarnetDeVacunacionMascota"
            android:exported="false" />
        <activity
            android:name=".carnet_de_vacunacion"
            android:exported="false" />
        <activity
            android:name=".nuevo_perfil_mascota"
            android:exported="false" />
        <activity
            android:name=".NuevoPerfilHumano"
            android:exported="false" />
        <activity
            android:name=".pantalla_dashboard"
            android:exported="false" />
        <activity
            android:name=".infoApp"
            android:exported="false" />
        <activity
            android:name=".CrearCuenta"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAM4qV9wPErueUHc1Znv4krISRHyV065bo" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.pinchaapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>